html, body{
    height: 100%;
    background: url("PHOTO-2019-11-11-22-58-05.jpg") no-repeat center center fixed;
    background-size: cover;
}

#container{
    height: 93%;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

#left, #right{
    height: 100%;
}

#top_right {
    height: 50%
}

#info {
    height: 50%
}

#white_text{
   max-width: 440px;
   padding: 16px;
   color: white;
}


a{
 color:#aab8c2;
  text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#signup_big{
    background-color:black;
    border: 1px solid black;
    color: white; 
    border-radius: 100px;
    cursor: pointer;
    width: 250px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    width:351px;
    display:relative;
}

#signup_big:hover{
 background: blueviolet;
}

#login_big{
        background-color: purple;
        border: 1px solid black;
        color: white;
        border-radius: 100px;
        cursor: pointer;
        width: 250px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding: 6px 16px;
        width:351px;
}

#login_big:hover{
    background: paleturquoise;
    color: black;
}
 
#black_text{
    max-width: 350px;
}

#black_text h1 {
     color: white;
}


@media only screen and (max-width: 800px){
    html{
        position: absolute;
    }
    #container{
        display:flex;
        flex-direction: column;
    }
    #right{
        height:50%;
        order:1;
    }
    #white_text{
        position: relative;
        top:-180px;
        left:35px;
     }
    #left{
        height:50%;
        order:2;
    }

}
@media only screen and (max-width: 557px){
    #white_text{
        position: relative;
        top:-220px;
        left:35px;
     }
}

h1 {
 color:  rgb(226, 226, 226);
 font-family: 'Anton', sans-serif;
 letter-spacing: 5px;
 margin: 10px;
 font-size: 50px;
}

.inputBox {
    width: 85%;
    height: 15px;
    border-radius: 20px;
}

h2 {
    color: grey;
}

#formDiv {
    background-color: rgba(169, 169, 169, 0.56); 
    width: 60%;
    height: 75%;
    display: flex;
    align-content: center; 
    padding: 5px;
    border-radius: 10px;
    overflow: scroll;
}

#formDiv input {
    width: 60%;
    height: 20px;
}

#formDiv h3 {
    text-align: center;
}