html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    /* position: fixed; */
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
  float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

li input {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 75px;
    text-align: center;
    margin: 20px;
}


.mainDiv{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5,5vw);
    grid-gap: 15px;
}


img{
    width: 300px;
    height: 300px;
}