body{
    background-color: lightgray;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border: 1px solid grey;
    background-color: grey;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
  float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.mainDiv{
    height: 50%;
    width: 50%;
    top: 150px;
    left: 50px;
    position: fixed;
    z-index: 1;
    overflow-x: visible;
    padding-top: 20px;
    /* background-color: black; */
}

.centered img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

